<section class="mag-bg-sectionBg">
  <div class="mag-text-center mag-pt-28 mag-mb-20 mag-relative">
    <p class="mag-font-semibold">Discover</p>
    <div class="mag-max-w-[780px] mag-mx-auto">
      <h2 class="mag-font-bold mag-py-4">How It Works: Subscribe and Receive Your Surprise Box</h2>
      <h4>Subscribe to our surprise subscription box and give your child the gift of learning. Each month, we curate a
        box
        filled with educational materials tailored to your child's age and interests.</h4>
    </div>
  </div>

  <div class="mag-max-w-[1220px] mag-mx-auto mag-pb-[112px] mag-relative mag-z-10">
    <ul class="mag-flex mag-gap-7">
      @for (step of steps; track $index) {
      <li class="mag-text-center">
        <div
          class="mag-flex mag-items-center mag-mb-6 mag-bg-white mag-p-5 mag-rounded-full mag-w-[96px] mag-h-[96px] mag-mx-auto">
          <img [src]="step.icon" alt="">
        </div>
        <h4>Step {{step.id}}:</h4>
        <h3 class="mag-mb-6">{{step.title}}</h3>
        <p>{{step.desc}}</p>
      </li>
      }
    </ul>

    <div class="mag-mt-12 mag-text-center">
      <button class="btn">Subscribe Now</button>
    </div>
  </div>

  <footer></footer>

</section>