
  <h4 class="mag-font-bold">Summary</h4>
  <p>of your Monthly Surprise Box</p>

  <div class="mag-bg-white mag-rounded-xl mag-p-4 mag-my-6">
    <ul>
      <li class="mag-flex mag-justify-between">
        <h5 class="mag-font-bold">Mystery Box</h5>
        <h5>SAR <strong>456</strong></h5>
      </li>
      <li class="mag-flex mag-justify-between">
        <small class="mag-text-neutral-400">x1</small>
        <small class="mag-text-neutral-400">Monthly</small>
      </li>
      <li><br></li>
    </ul>
  </div>

  <ul class="mag-flex mag-flex-col mag-gap-3">
    <li class="mag-flex mag-justify-between">
      <h5>Subtotal</h5>
      <h5>SAR <strong>456</strong></h5>
    </li>
    <li class="mag-flex mag-justify-between">
      <h5>Shipping</h5>
      <h5>Free</h5>
    </li>
    <li class="mag-flex mag-justify-between">
      <h5>Taxes</h5>
      <h5>SAR <strong>4.0</strong></h5>
    </li>
    <li>
      <hr class="mag-border-neutral-300">
    </li>
    <li class="mag-flex mag-justify-between">
      <h5 class="mag-font-bold">Total</h5>
      <div class="mag-text-end">
        <h5>SAR <strong>456</strong></h5>
        <small class="mag-text-neutral-400">Monthly</small>
      </div>
    </li>
  </ul>

  <button (click)="submitForm.emit()" class="btn mag-w-full mag-mt-6 mag-hidden max-sm:mag-block">Continue to payment</button>
