<div class="mag-bg-primary mag-pt-28 mag-pb-20">
  <div class="mag-container mag-mx-auto mag-text-center">

    <div class="mag-max-w-[780px] mag-mx-auto">
      <h1 class="mag-font-bold mag-text-white">
        Discover the magic of our surprise box
      </h1>
      <h4 class="mag-font-bold mag-py-6 mag-text-white">Unleash your child's curiosity with our educational subscription
        box filled with fun and learning.</h4>
      <button class="btn">Subscribe Now</button>
    </div>

    <div class="mag-text-center mag-my-24">
      <img class="mag-inline-block" src="assets/images/hero-img.png" alt="">
    </div>
  </div>
</div>